.moves-counter {
  display: flex;
  min-width: 3rem;
  min-height: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .moves-counter_title {
    font-size: 2rem;
  }

  .moves-counter_text {
    font-size: 1.5rem;
  }

  .moves-counter_numbers {
    font-size: 3rem;
  }
}