.battlefield {
  display: grid;
  grid-template-rows: 45rem;
  grid-template-columns: 45rem auto 45rem;
  padding: 0.5rem 2rem;
  font-size: 3rem;

  .gap {
    min-width: 3rem;
    min-height: 3rem;
  }

  @media screen and (max-width: 1000px) {
    grid-template-rows: 45rem auto 45rem;
    grid-template-columns: 45rem;
    justify-content: center;
  }
}