.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem 2rem;
  font-size: 2rem;
}

.header_navbar {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
}