.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 5px 20px;
  font-size: 2rem;
}

.header_navbar {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}