.cell {
  display: flex;
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  

  &:hover {
    background-color: #ddd;
    cursor: pointer;
  }
}

.grid-cell {
  font-size: 1rem;
}

.disabled {
  pointer-events: none;
}